@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300;400;700&family=Open+Sans:ital,wght@0,700;1,500&family=Pacifico&display=swap');
* {
  background-color: rgb(39, 53, 38);
  /* color: rgb(177, 111, 5) */
}

fieldset:first-child label {
  marginpx;
  
  display:grid;
  
}
#cookieData {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
table, td, th {
  background-color: rgb(22, 38, 28);
  border: solid rgb(177, 111, 5) 1px;
  border-collapse: collapse;
  padding: 7px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#addCity{
  color: rgb(210, 167, 50);
  font-family: ;
}
h3{
  margin-left: 550px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#centered {
  display: block;
  margin-left: 350px;
  margin-right: auto;
  width: 50%;
color:rgb(177, 111, 5)}
#blurb{
  color:orange;
  font-family: 'Open Sans', sans-serif;;

  }
  #color{
    color:rgb(177, 111, 5)
  }
  #contact{
    color:rgb(138, 116, 82)
  }